CAISHEN_FRONTEND_PORT=9003
FRONTEND_BASE_URL=https://caishen.laurent-chen.fr

DB_PASSWORD=change-me
MARIADB_ROOT_PASSWORD=change-me
JWT_SECRET=change-me-change-me-change-me-change-me-change-me-change-me-change-me-change-me

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENABLED=true
MAIL_HOST=smtp.mail.ovh.net
MAIL_PORT=465
MAIL_FROM=
RABBITMQ_USERNAME=caishen
RABBITMQ_PASSWORD=
