<div class="app-form-page">
  <form class="app-form" [formGroup]="forgotPasswordForm" (ngSubmit)="requestPasswordReset()">
    <h2 class="app-title">{{ 'password.forgotTitle' | transloco }}</h2>

    @if (isSent()) {
      <p class="text-base-content/70">
        {{ 'password.sentMessage' | transloco }}
      </p>
      <a routerLink="/login" class="btn btn-primary w-full">{{ 'password.backToLogin' | transloco }}</a>
    } @else {
      <app-caishen-custom-form-input
        [placeholder]="'common.emailPlaceholder' | transloco"
        [icon]="'/icons/mail_icon.svg'"
        [type]="'email'"
        [inputForm]="getFormFromName('email')"
        [hasError]="(forgotPasswordForm.get('email')?.errors?.['required'] || forgotPasswordForm.get('email')?.errors?.['pattern']) && forgotPasswordForm.get('email')?.touched"
        [errorMessage]="'auth.errors.email' | transloco"
      />

      <button type="submit" class="btn btn-primary w-full" [disabled]="forgotPasswordForm.invalid || isLoading()">
        {{ 'password.receiveLink' | transloco }}
      </button>
      <a routerLink="/login" class="text-center underline">{{ 'password.backToLogin' | transloco }}</a>
    }
  </form>
</div>
