<div class="flex h-full min-h-0 w-full flex-col items-center overflow-hidden px-4 py-8">
  <img class="h-56 w-56" src="logo_caishen.png" alt="Caishen">
  <form class="app-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <h2 class="app-title">{{ 'auth.loginTitle' | transloco }}</h2>
    <app-caishen-custom-form-input
      [placeholder]="'common.emailPlaceholder' | transloco"
      [icon]="'/icons/mail_icon.svg'"
      [type]="'email'"
      [inputForm]="getFormFromName('login')"
      [hasError]="false"
    />

    <app-caishen-custom-form-input
      [placeholder]="'common.passwordPlaceholder' | transloco"
      [icon]="'/icons/password_icon.svg'"
      [type]="'password'"
      [inputForm]="getFormFromName('password')"
      [hasError]="false"
    />
    <button type="submit" class="btn btn-primary w-full" [disabled]="loginForm.invalid">
      {{ 'auth.loginButton' | transloco }}
    </button>
    <div class="flex justify-between gap-3">
      <a routerLink="/forgot-password" class="text-center underline">{{ 'auth.forgotPasswordLink' | transloco }}</a>
      <a routerLink="/register" class="text-center underline">{{ 'auth.createAccountLink' | transloco }}</a>
    </div>
    <a routerLink="/resend-activation" class="text-center underline">{{ 'auth.resendActivationLink' | transloco }}</a>
  </form>
</div>
