<div class="app-form-page">
  <form class="app-form" [formGroup]="resetPasswordForm">
    <h2 class="app-title">{{ 'password.newTitle' | transloco }}</h2>

    @if (hasInvalidToken()) {
      <p class="text-error">{{ 'password.invalidLink' | transloco }}</p>
      <a routerLink="/forgot-password" class="btn btn-primary w-full">{{ 'password.receiveNewLink' | transloco }}</a>
    } @else {
      <app-caishen-custom-form-input
        [placeholder]="'common.passwordPlaceholder' | transloco"
        [icon]="'/icons/password_icon.svg'"
        [type]="'password'"
        [inputForm]="getFormFromName('password')"
        [hasError]="(resetPasswordForm.get('password')?.errors?.['required'] || resetPasswordForm.get('password')?.errors?.['pattern']) && resetPasswordForm.get('password')?.touched"
        [errorMessage]="'auth.errors.password' | transloco"
      />

      <app-caishen-custom-form-input
        [placeholder]="'common.confirmPasswordPlaceholder' | transloco"
        [icon]="'/icons/password_icon.svg'"
        [type]="'password'"
        [inputForm]="getFormFromName('passwordConfirmation')"
        [hasError]="(resetPasswordForm.get('passwordConfirmation')?.errors?.['required'] || resetPasswordForm.get('passwordConfirmation')?.errors?.['matching']) && resetPasswordForm.get('passwordConfirmation')?.touched"
        [errorMessage]="'auth.errors.passwordConfirmation' | transloco"
      />

      <button type="button" class="btn btn-primary w-full" [disabled]="resetPasswordForm.invalid || isLoading()" (click)="confirmPasswordReset()">
        {{ 'password.changeButton' | transloco }}
      </button>
      <a routerLink="/login" class="text-center underline">{{ 'password.backToLogin' | transloco }}</a>
    }
  </form>
</div>
